<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../assets/img/lima-04.svg" />
    <link rel="stylesheet" href="/assets/css/picking.css">
    <script>
        var mainHost = '{{SMART_API}}'
        var URL_IMAGES = '{{URL_IMAGES}}'
        localStorage.mainHost = mainHost
        localStorage.URL_IMAGES = URL_IMAGES
    </script>
    <style>
        .produtoSemFoto {
            background: url({{SMART_API}}/produto-sem-imagem.jpg) !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            zoom: 100%;
        }
    </style>
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../js/moment.js"></script>
</head>

{{{body}}}


<script src="/js/api-picking.js"></script>

</html>